%p
  We are
  %strong Love The Oceans (LTO),
  a non-profit marine conservation organisation working in Guinjata Bay, Mozambique.

%p
  %a.start{ 'href' => 'https://lovetheoceans.org' }
    Check out our website.

%p
  %strong Guinjata Bay,
  whilst home to a huge host of marine life, has never been studied in depth for any prolonged amount of time.
  We hope to protect and study the diverse marine life found here, including many species of sharks, rays and
  the famous humpback whales. We use research, education and diving to drive action towards a more sustainable future.

%p
  Our ultimate goal is to establish a Marine Protected Area for the Inhambane Province in Mozambique,
  achieving higher biodiversity whilst protecting endangered species.

%p
  %a.start{ 'href' => '/start' }
    And you can help!

%p
  Questions? Want to get involved?
  %a.start{ 'href' => '/contact' }
    Get in touch!
