
%p
  = link_to 'New beach clean', new_scope_path(for: 'beachclean')

%p
  -# - n = @user.unsubmitted_cleanups.size
  -# - case n
  -# - when 0
  -#   You have no unsubmitted beach cleans.
  -# - when 1
  -#   You have one unsubmitted beach clean.
  -# - else
  -#   You have #{n} unsubmitted beach cleans.
  -#
  -# - unless @user.cleanups.empty?
  -#   %br
  -#   = link_to 'See beach cleans', cleanups_path

%p
  = link_to 'Analytics', beachclean_analytics_start_path
