
%h3 Send us a message

Contact form

%h3 Drop by and say Hello

%p
  We work together with
  %strong Jay's Pro Dive Center
  at Guinjata Bay.
  You'll often find us at their dive center, planning a dive,
  analysing data we collected, discussing observations and strategies,
  or simply having a break, enjoying the priviledge to work in a place like this.

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3642.91261634257!2d35.49172751537393!3d-24.069381584433124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1f1f612787f6a713%3A0xf0c669d7b17271e0!2sJay&#39;s+Pro+Dive+Centre!5e0!3m2!1sen!2sde!4v1544425168370" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
