%h3 Delete all data

%p
  This website stores your logs and some of the pages in a local cache in your browser,
  in order to allow you to use most parts of it offline without losing data.

%p
  If you don't want any data to be stored in your browser anymore, we will delete it for you.

%p
  %strong Just be aware that you will lose all unsubmitted logs.

  %a.start{ 'href' => '/activities' }
    Check unsubmitted logs

%button.delete{ id: 'js-delete-data' } Delete all browser data
