%h3 Who is LTO?

%p
  Love The Oceans (LTO) is a non-profit marine conservation organisation working in Guinjata Bay, Mozambique.
%p
  Guinjata Bay, whilst home to a huge host of marine life, has never been studied in depth for any prolonged amount of time. Love The Oceans hopes to protect and study the diverse marine life found here, including many species of sharks, rays and the famous humpback whales. We use research, education and diving to drive action towards a more sustainable future. Our ultimate goal is to establish a Marine Protected Area for the Inhambane Province in Mozambique, achieving higher biodiversity whilst protecting endangered species.

%h3 Why beach cleans?

%p
  1.7 billion tons of trash is created per year and only 10% recycled. Over 100 million tons of trash is currently in the ocean. By 2050 it is estimated there will be more plastic in our oceans in weight, than fish. Ocean trash and plastic waste is something affecting everyone around the world - even if you live in cities. It's bad for animals, it's bad for the environment, and it's bad for humans. It threatens tourism, livelihoods, and is detrimental to human and animal health. The first micro plastics have been found in human faeces and plastics kill over 1 million seabirds and 100,000 marine mammals every year. The fish we're eating every day has plastic in it. Plastic is poisoning the environment and everything (including us) in it.

%p
  Love The Oceans has been collecting and recording marine debris data since 2017. We conduct weekly beach cleans, removing marine debris from our local beaches and documenting the scale of the issue. The collected marine debris is logged by category and weight using internationally recognised categories. Since May 2017 Love The Oceans has removed over 500 kg of marine debris from a 15 km stretch of coastline. While some of this debris is local (especially flip-flops and cigarette butts), the vast majority is transported to the area via ocean currents, highlighting the need for international action against marine debris and plastic pollution.

%p
  The aim of this ocean trash research is to:

  %ul
    %li
      Remove debris from the marine environment to protect our ecosystems.
    %li
      Document the scale of the issue and develop management measures to reduce marine pollution.
    %li
      Raise awareness about marine debris and plastic pollution to inspire a change in attitude in the expat and local communities, and prompt action against marine pollution.

%p
  Please log what you see and collect on your beach clean on this app and help us record the scale of the problem, so we can work on ways to tackle it. Understanding the problem is the first step towards a solution.
