
%h3 Olá, beach hero!

%p
  We're happy to see you here.
  Want to get involved in saving the oceans?

%p
  As a marine conservation organisation, we collect and analyse data,
  in order to back our decisions and actions, as well as to be able
  to make a strong case for our arguments and efforts.
  That's where we need your support!

%h3 How you can help

%p
  %ul.bullets
    %li
      You're going for a walk along the beach and notice all the garbage that's
      been left behind or washed ashore?
      It's never been easier to help: Bring an old bag and collect what you find.

      %a.start{ 'href' => '/start/beachclean' }
        How to log a beach clean

    %li
      You're on a whale watching or snorkeling trip and encounter humpback whales,
      whale sharks, or manta rays?
      Let us know!

      %a.start{ 'href' => '/start/whalewatch' }
        How to log megafauna sightings

    %li
      You stroll along the beach and see local fishermen bringing in their catch of the day?
      You always wanted to get to know the local culture a bit more? This is your chance!

      %a.start{ 'href' => '/start/fisheries' }
        How to log catches of the local fishermen
