
%p
  Approach the fishermen and kindly ask whether they let you take a picture of their catch.

%h3 Pictures

%p
  Here is what is especially important for us in order to be able to use your
  pictures in our research:

  %ul.bullets
    %li Fish: ...

%p
  Note that this often involves touching or moving the fish.

%h3 Tips on interacting with the local fishermen

%ul.bullets
  %li
    Be friendly and respectful, just like you would with anyone.
    You'll often find the locals open to a nice chat.
  %li
    Don't judge.
    For the fishermen, their work is often the only way to feed their families.
  %li
    If you feel disgusted or sad at the sight of dead or dying fish,
    politely retreat.

%p
  Questions? Unsure about something? Or want to share an encounter?
  %a.start{ 'href' => '/contact' }
    Get in touch!

%p
  Ready for action?
  %a.start{ 'href' => new_fishery_path }
    Log fisheries data
