%p.intro
  Olá, beach hero!

%p
  = link_to 'New beach clean', new_beachclean_path

%p
  = link_to 'New whale watch', new_whalewatch_path

%p
  = link_to 'Unsubmitted logs', activities_path

%p
  = link_to 'Analytics', analytics_path
