
%p
  There's a few information we need in order to be able to use your observations
  in our research.

%h3 Location

%p
  Use your phone to grab your GPS location, or simply ask the skipper of your boat
  (he has a GPS on board and can tell you).

%p
  And then note how many individuals you see in what direction.

%h3 Behaviour

%h3 Pictures

%p
  If you're taking pictures, either from the boat or snorkeling, that's great!
  Here's the kind of shots that can help us identify individuals:

  %ul
    %li
      Humpback whales: ...
    %li
      Whale sharks: ...
    %li
      Manta rays: ...

%h3 Code of conduct

%p
  When snorkeling with megafauna, please make sure to
  %strong never touch
  the animals. 

%p
  Questions?
  %a{ 'href' => '/contact' }
    Get in touch!
