
%p
  Since May 2017 we have removed over 500 kg of marine debris
  from a 15 km stretch of coastline. While some is local,
  the vast majority is transported to the area via ocean currents,
  highlighting the global nature of marine pollution.

%h3 Be part of the cure!

%p
  Bring along an old bag and collect all garbage you find on the beach.

%p
  Take this app with you to log what you find. We use internationally
  recognised categories, so we can analyse and compare marine debris
  by type and weight all around the world.

%p
  Afterwards, dispose the collected waste where it belongs.

%h3 Tips

%ul.bullets
  %li
    Although you could do the logging afterwards, it's often easiest to log items
    directly when picking them up.

  %li
    You don't need a network connection in order to do this.
    When you're offline, logged data is stored on your device.
    You can submit it at any later point.

%p
  Ready to rumble?
  %a.start{ 'href' => new_beachclean_path }
    Start beach clean
