
%p
  Bring along an old bag and <strong>collect all garbage you find on the beach</strong>.
  Take this app with you to <strong>log what you find</strong>, in particular how many pieces
  of what kind of garbage.

%p
  Although you could do the logging afterwards, it's often easiest to log items
  directly when picking them up.
  This takes a bit longer than just cleaning up, but it allows us to log
  marine debris by category and weight using internationally recognised categories.

%p
  Since May 2017 we have removed over 500 kg of marine debris
  from a 15 km stretch of coastline. While some is local
  (especially flip-flops and cigarette butts), the vast majority is transported
  to the area via ocean currents, highlighting the need for international action
  against marine debris and plastic pollution.

%p
  Be part of that action!

Back | Start beach clean
