
%p
  There's a few information we need in order to be able to use observations
  of humpback whales, whale sharks and manta rays in our research.

  %ul.bullets
    %li
      Location of the boat, as well as distance and direction of the animals from the boat
    %li
      Environmental conditions (in particular sea state and cloud cover)
    %li
      Number of individuals
    %li
      Behaviour

%h3 Location

%p
  Use your phone to grab your GPS location, or simply ask the skipper of your boat
  (he has a GPS on board and can tell you).

%h3 Pictures

%p
  If you're taking pictures, either from the boat or snorkeling, that's great!
  Here's the kind of shots that can help us identify individuals:

  %ul.bullets
    %li Humpback whales: ...
    %li Whale sharks: ...
    %li Manta rays: ...

%h3 Code of conduct

%p
  When snorkeling with megafauna, please make sure to
  %strong never touch
  the animals.

%p
  Ready to rumble?
  %a.start{ 'href' => new_whalewatch_path }
    Log a sighting
