
%p
  We are happy to have built a relationship of mutual respect with the local fishermen
  in Guinjata and Paindane, which allows us to study what and how much they catch.
  Our long-term goal is to support them in sustainable fishing that benefits
  both the fishermen and the marine ecosystem.

%h3 What to log

%p
  In order to measure the effect and sustainability of the local fishing,
  we need to know how what kind of fish was caught, how many specimen,
  and with which method of fishing.
  We can use this data in research publications only if we have pictures
  of all the logged fish.

%p
  Approach the fishermen and kindly ask whether they let you take a picture of their catch.
  If you're friendly and respectful, you'll find that the locals are very cooperative
  and open to a nice chat.
  Note, however, that this often involves touching or moving the fish.

%h3 Tips on interacting with the local fishermen

%ul.bullets
  %li
    Don't judge.
    For the fishermen, their work is the only way to feed their families.
  %li
    If you feel disgusted or sad at the sight of dead or dying fish,
    politely retreat.

%p
  Questions? Unsure about something? Or want to share an encounter?
  %a.start{ 'href' => '/contact' }
    Get in touch!

%p
  Ready for action?
  %a.start{ 'href' => new_fishery_path }
    Log fisheries data
