%ul
  - @items.each do |item|
    %a{ href: '#', class: 'item', 'data-item-category' => item.category, 'data-turbolinks' => 'false' }
      %li.item
        %span.item-component.name
          = item.category.full_name
        %span.item-component
          %span.item-component.plus{ 'data-item-category' => item.category }
            = "+"
          %span.item-component.count{ 'data-item-category' => item.category }
            = item.quantity
          %span.item-component.minus{ 'data-item-category' => item.category }
            = "-"

.buttons
  %button.save{ id: 'js-save-beachclean' } Save
  %button.submit{ id: 'js-submit-beachclean' } Submit
  %button.delete{ id: 'js-delete-beachclean' } Delete
