%h3 You're a hero :-)

%p
  Thanks for keeping our beaches clean!

%p
  Want to stay up to date? Help further?

%p
  %a{ 'href' => 'https://lovetheoceans.us12.list-manage.com/subscribe?u=15ae8d2c0094deb227d381b33&id=f2a94f6826' }
    Sign up to newsletter

%p
  %a{ 'href' => 'https://lovetheoceans.org/donate/' }
    Get involved
