%h3 Obrigado!

%p
  Want to stay up to date?

%p
  %a{ 'href' => 'https://lovetheoceans.us12.list-manage.com/subscribe?u=15ae8d2c0094deb227d381b33&id=f2a94f6826' }
    Sign up to newsletter

%p
  Want to help further?

%p
  %a{ 'href' => 'https://lovetheoceans.org/donate/' }
    Get involved
