@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/* LAYOUT */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

main,
header,
footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header,
footer {
  max-height: 100px;
}

#content {
  max-width: 400px;
}

/* STYLE */

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

header > img,
header > a,
footer > a {
  display: inline-block;
  padding: 0 20px;
}

body {
  padding: 0;
  margin: 0;
}

header,
footer {
  padding: 10px;
  background-color: #cff6f2;
}

header {
  text-transform: uppercase;
}

footer {
  font-family: monospace;
}

main {
  padding: 10px;
}

li {
  list-style-type: none;
}

.intro {
  margin-top: 1em;
  margin-bottom: 2em;
}

.error {
  color: #d8000c;
}

/* Links and button */

a {
  text-decoration: none;
  color: #232323;
  font-size: 1.6em;
}

button.item {
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  border: 0;
}

/* Forms */

label,
input {
  display: block;
}

label {
  margin-top: 10px;
}

input[type=submit] {
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}
