@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.otf") format("opentype");
}

/* LAYOUT */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main,
header,
footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: max-content;
}

main {
  align-content: stretch;
}

header,
footer {
  max-height: 100px;
}

#content {
  max-width: 400px;
}

/* STYLE */

body {
  font-family: 'Montserrat', sans-serif;
}

header > img,
header > a,
footer > a {
  display: inline-block;
  padding: 0 20px;
}

body {
  padding: 0;
  margin: 0;
}

header,
footer {
  padding: 10px;
  background-color: #83d0f2;
}

main {
  background-color: #fafafa;
}

footer {
  font-family: monospace;
}

main {
  padding: 20px;
}

li {
  list-style-type: none;
}

img.icon {
  width: 40px;
  border: 0;
  padding: 0 10px;
  vertical-align: middle;
}

.intro {
  margin-top: 1em;
  margin-bottom: 2em;
}

.error {
  color: #d8000c;
}

#unsubmitted-logs-count {
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 50%;
  color: #fff;
}
.counter-zero {
  background-color: #6ce014;
}
.counter-non-zero {
  background-color: #f7252c;
}

/* Links and buttons */

a {
  text-decoration: none;
  color: #232323;
  font-size: 1.4em;
}

a.item {
  font-size: 1em;
}

a.top {
  color: #fff;
}

.buttons {
  text-align: center;
}

button,
input[type='submit'] {
  margin-top: 20px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #6da3c7;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: #b3bdc4;
}

.save-log,
.submit-log,
.delete-log {
  display: inline-block;
  margin: 40px 8px;
}

.delete-log {
  background-color: #b51015;
}

/* Forms */

h3,
legend {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #6ec1e4;
  text-transform: uppercase;
}

label,
input {
  display: block;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 90%
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
}

fieldset {
  border: 0;
  margin: 10px 0;
}

fieldset.horizontal label,
fieldset.horizontal input {
  display: inline-block;
}

label {
  margin-top: 10px;
}

/* Items list */

ul {
  margin: 0 auto;
  padding: 0;
}

ul.bullets {
  margin: 1em;
}

ul.bullets li {
  list-style-type: circle;
  padding: 0 0.4em;
}

li.activity {
  margin: 2px 0;
}

li.item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  // box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.item-component {
  display: inline-block;
}

.count {
  background-color: #fff;
}

.plus,
.minus,
.count {
  padding: 0 6px;
  text-align: center;
}

.name {
  text-align: left;
  margin-left: 0;
}

/* Activities list */

li.activity {
  margin-top: 8px;
}

/* Span-level styling */

.hidden {
  display: none;
}

.footprint {
  font-size: 0.8em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
